Nordic/CSharpBot/quest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Sat May 21 2022 17:24:24 GMT+0300 (Москва, стандартное время) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="Game">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Title" type="xs:string"></xs:element>
				<xs:element name="Desciption" type="xs:string"></xs:element>
				<xs:element name="Location" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:int"></xs:element>
							<xs:element name="Name" type="xs:string"></xs:element>
							<xs:element name="Text" type="xs:string"></xs:element>
							<xs:element name="Action" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string"></xs:element>
										<xs:element name="Next" type="xs:int"></xs:element>
										<xs:element name="Command" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>			
		</xs:complexType>
	</xs:element>
</xs:schema>